<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.infoPlaza.mapper.IndividualEduMapper">
        <select id="selectAllIndividualEdu" resultType="IndividualEduDTO">
            SELECT * FROM individual_edu
        </select>
        <select id="selectIndividualEduById" parameterType="int" resultType="IndividualEduDTO">
            SELECT * FROM individual_edu WHERE vno = #{vno}
        </select>
    <!-- 제목 또는 해시태그로 검색하는 SQL 쿼리 -->
    <select id="searchIndividualEduByKeyword" resultType="IndividualEduDTO">
        SELECT * FROM individual_edu
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
           OR hashtag LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
