<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kb.infoPlaza.mapper.LoanMapper">

    <select id="getBest4List" resultType="com.kb.infoPlaza.dto.GovernmentFundDTO">
        SELECT *
        FROM business_loan_products
        ORDER BY CAST(REPLACE(total_interest_rate, '%', '') AS DECIMAL(5, 2)) ASC
        LIMIT 4;
    </select>

    <select id="getFilteredList" resultType="com.kb.infoPlaza.dto.GovernmentFundDTO">
        SELECT *
        FROM business_loan_products
        WHERE 1=1
        <if test="category != '전체'">
            <if test="category == '대리대출'">
                AND category LIKE '%대리대출'
            </if>
            <if test="category == '직접대출'">
                AND category LIKE '%직접대출'
            </if>
        </if>
    </select>

    <select id="getDetailItem" resultType="com.kb.infoPlaza.dto.GovernmentFundDTO">
        select * from business_loan_products where loan_product_name = #{productName}
    </select>

    <select id="getBestCreditLoan4List" resultType="com.kb.infoPlaza.dto.PersonalCreditLoanDTO">
        SELECT * FROM credit_loan_product
        ORDER BY crdt_grad_avg ASC LIMIT 4;
    </select>

    <select id="getFilteredCreditLoanList" resultType="com.kb.infoPlaza.dto.PersonalCreditLoanDTO">
        SELECT *
        FROM credit_loan_product
        WHERE 1=1
        <if test="companyName != '전체'">
            AND kor_co_nm = #{companyName}
        </if>
        <if test="type != '전체'">
            AND crdt_prdt_type_nm = #{type}
        </if>
    </select>

    <select id="getDetailItemCreditLoan" resultType="com.kb.infoPlaza.dto.PersonalCreditLoanDTO">
        select * from credit_loan_product where id = #{id}
    </select>


</mapper>