<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.infoPlaza.mapper.PropertyListingMapper">
    <select id="selectAllPropertyListings" resultType="PropertyListingDTO">
        SELECT * FROM property_listing
    </select>
    <select id="selectPropertyListingById" parameterType="int" resultType="PropertyListingDTO">
        SELECT * FROM property_listing WHERE plno = #{plno}
    </select>

    <!-- 중복 제거한 구 이름 가져오기 -->
    <select id="selectDistinctGuNames" resultType="DistrictCodeDTO">
        SELECT DISTINCT gu_name FROM district_code
    </select>
</mapper>