<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.infoPlaza.mapper.PropertyListingMapper">
    <select id="selectAllPropertyListings" resultType="PropertyListingDTO">
        SELECT * FROM property_listing
    </select>
    <select id="selectPropertyListingById" parameterType="int" resultType="PropertyListingDTO">
        SELECT * FROM property_listing WHERE plno = #{plno}
    </select>
</mapper>