<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.storeMgmt.mapper.ChartMapper">
    <select id="getDoughnut" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
        SELECT *
        FROM categories
        WHERE insert_date = CURDATE()
          AND svc_induty_cd_nm = #{svcIndutyCdNm}
    </select>

    <select id="getMixAddress" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
        SELECT *
        FROM categories
        WHERE (insert_date = CURDATE()
           OR insert_date = DATE_SUB(CURDATE(), INTERVAL 7 DAY))
            AND svc_induty_cd_nm = #{svcIndutyCdNm}
    </select>

    <select id="getmcfirst" resultType="com.kb.storeMgmt.dto.SalesInfoDTO">
        SELECT adstrd_cd_nm,thsmon_selng_amt, mdwk_selng_amt
        FROM service_sales
        WHERE stdr_yyqu_cd = '20242'
        AND svc_induty_cd_nm = #{svcIndutyCdNm}
        AND adstrd_cd_nm IN
        <foreach item="adstrdCdNm" collection="dongname" open="(" separator="," close=")">
            #{adstrdCdNm}
        </foreach>
    </select>

    <select id="getmcsecend" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
            SELECT *
        FROM categories
        WHERE insert_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND CURDATE()
          AND svc_induty_cd_nm = #{svcIndutyCdNm};
    </select>

    <select id="getsum" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
        SELECT sum(amount) as amount
        FROM categories
        WHERE svc_induty_cd_nm = #{svcIndutyCdNm} and
            insert_date BETWEEN
                  DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND
                  LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));
    </select>

</mapper>
