<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.storeMgmt.mapper.ChartMapper">
    <select id="getDoughnut" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
        SELECT *
        FROM categories
        WHERE insert_date = CURDATE()
    </select>

    <select id="getMixAddress" resultType="com.kb.storeMgmt.dto.CategoriesDTO">
        SELECT *
        FROM categories
        WHERE insert_date = CURDATE()
           OR insert_date = DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>



</mapper>
